.grid-container-br {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #ffffff;
  padding: 1px;
}
.grid-container-apt {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 25px;
}

.grid-br {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: left;
  width: 200px;
  height: 200px;
}

.grid-apt {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
}

.leased {
  background-color: rgba(255, 255, 255, 0.8);
}

.vacant {
  background-color: green;
}

.filters {
  padding-left: 20px;
}

.svg-box {
  max-height: 650px;
}

.apt-show-container {
  width: 100%;
  /* border: 1px solid black; */
  overflow: hidden;
  height: 100%;
}

.svg-play {
  width: 45%;
  max-height: 650px;
  border-style: dashed;
  border-width: 2px;
  float: left;
}

.br-show-container {
  width: 45%;
  max-height: 650px;
  border-style: dashed;
  border-width: 2px;
  overflow: hidden;
  color: cyan;
}

.br-show {
  height: 100%;
}
