.grid-container-br {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #ffffff;
  padding: 1px;
}
.grid-container-apt {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px;
  background-color: #ffffff;
  padding-left: 50px;
  padding-top: 25px;
}

.grid-br {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: left;
  width: 200px;
  height: 200px;
}

.grid-apt {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
}

.leased {
  background-color: rgba(255, 255, 255, 0.8);
}

.vacant {
  background-color: green;
}

.svg-play {
  height: 800px;
  width: 600px;
  padding-left: 50px;
}

.filters {
  padding-left: 50px;
}
